<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <img class="logo" src="../../../assets/images/logo.png" alt="">
            <div class="text_block__parent">
                <p class="text-block" style="font-size: xx-large;">Sell online with our store</p>
                <p class="text-block" style="font-size: xx-large;">Trusted by over 1,000,000 businesses worldwide</p>
            </div>
            <div class="container__text">
                <input type="email" placeholder="Enter your email address">
                <button>
                    Submit free trial
                </button>
            </div>
            <img class="img_background" src="../../../assets/images/ecommerce.png" alt="">
        </div>
        
        
    </div>
</body>
</html>