/* PATTERN START */
.background {
    /* background: url('../../../assets/images/waves.svg'); */
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}
/* PATTERN END */

/* Banner START */
.container {
    text-align: center;
}
/* Banner END */

/* Features START */
.features {
    margin-left: 25%;
}

.features__text > div {
    text-align: center;
    display: inline-block;
    width: 25%;
    float: left;
}
/* Fetures END */

/* Customer START */
.customers {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 8%;
}
.customers > div {
    display: inline-block;
}
/* Customer END */

/* QUote SECTION START */
.quote_section {
    font-size: x-large;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
}

.free_trial {
    background: #0099FF;
    border: none;
    border-radius: 2px;
    height: 40px;
    color: white;
    padding: 10px;
}
/* QUote Section END */

/* Footer START */
.footer {
    display: inline-block;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.footer > a {
    float: right;
    text-decoration: none;
    color: black;
    margin-right: 5%;
}
/* Footer END */


/* Media Query START */
@media screen and (min-width: 0px) and (max-width:360px) {
    .container {
        width: 100%;
    }

    .img_background {
        width: 100%;
    }

    /* Fetaures START */
    .features {
        width: 100%;
        display: inline-block;
        margin-left: 0;
    }

    .features__text > div {
        width: 100%;
        display: inline-block;
    }
    /* Features END */

    /* Quote Section START */
    .quote_section {
        width: 100%;
        margin-left: 0;
    }
    /* Quote Section END */

    /* Customer START */
    .customers {
        margin-left: 0;
        width: 100%;
    }
    /* Customers END */
}

@media screen and (min-width: 361px) and (max-width:768px) {
    .container {
        width: 100%;
    }

    .img_background {
        width: 100%;
    }

    /* Fetaures START */
    .features {
        width: 100%;
        display: inline-block;
        margin-left: 0;
    }

    .features__text > div {
        width: 100%;
        display: inline-block;
    }
    /* Features END */

    /* Quote Section START */
    .quote_section {
        width: 100%;
        margin-left: 0;
    }
    /* Quote Section END */
    /* Customer START */
    .customers {
        margin-left: 0;
        width: 100%;
    }
    /* Customers END */
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .container {
        width: 100%;
    }

    .img_background {
        width: 100%;
    }

    /* Fetaures START */
    .features {
        width: 100%;
        display: inline-block;
        margin-left: 0;
    }

    .features__text > div {
        width: 100%;
        display: inline-block;
    }
    /* Features END */

    /* Quote Section START */
    .quote_section {
        width: 100%;
        margin-left: 0;
    }
    /* Quote Section END */

    /* Customer START */
    .customers {
        margin-left: 0;
        width: 100%;
    }
    /* Customers END */
}

@media screen and (min-width: 1025px) and (max-width:1200px) {
    .container {
        width: 100%;
    }

    .img_background {
        width: 100%;
    }

    /* Fetaures START */
    .features {
        width: 100%;
        display: inline-block;
        margin-left: 0;
    }

    .features__text > div {
        width: 100%;
        display: inline-block;
    }
    /* Features END */

    /* Quote Section START */
    .quote_section {
        width: 100%;
        margin-left: 0;
    }
    /* Quote Section END */

    /* Customer START */
    .customers {
        margin-left: 0;
        width: 100%;
    }
    /* Customers END */
}

@media screen and (min-width: 1201px) and (max-width:1880px) {
    .container {
        width: 100%;
    }

    .img_background {
        width: 100%;
    }

    /* Fetaures START */
    .features {
        width: 100%;
        display: inline-block;
        margin-left: 0;
    }

    .features__text > div {
        width: 100%;
        display: inline-block;
    }
    /* Features END */

    /* Quote Section START */
    .quote_section {
        width: 100%;
        margin-left: 0;
    }
    /* Quote Section END */

    /* Customer START */
    .customers {
        margin-left: 0;
        width: 100%;
    }
    /* Customers END */
}   
/* Media Query END */