/* PATTERN START */
.background {
    /* background: url('../../../assets/images/waves.svg'); */
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}
/* PATTERN END */

/* Banner START */
.container {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 7%;
}
/* Banner END */